<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>genres-page</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="header">
            <header>Playlist Creator</header>
        </div>
        <div class="form_body" id="genres-form-div">
            <form action="/artists" method="post" id="genres-form" name="genres-form" >
                <div id="rap-select-div" class="genre-select-div">
                    <a class="open-anchor" href="javascript:void(0)" onclick="openSelect('rap-select','rap-hiphop-closeid','rap-select-div','rap-arrow')" >
                        Rap Hip-hop
                        <div id="rap-arrow" class="arrow"></div>
                    </a>
                    <div class="genre-select" id="rap-select" name="rap-select">
                        <input class="genre-input" name="melodic-trap" id="melodic-trap" value="melodic-trap" type="checkbox" />
                        <label for="melodic-trap" class="genre-input-label" id="melodic-trap-input">Melodic Trap</label>
                        <input class="genre-input" name="alt-trap" id="alt-trap" value="alt-trap" type="checkbox" />
                        <label for="alt-trap" class="genre-input-label" id="alt-trap-input">Alternative Trap</label>
                        <input class="genre-input" name="trap" id="trap" value="trap" type="checkbox" />
                        <label for="trap" class="genre-input-label" id="trap-input">Trap and 808s</label>
                        <input class="genre-input" name="drill" id="drill" value="drill" type="checkbox" />
                        <label for="drill" class="genre-input-label" id="drill-input-label">Drill (UK,Chicago,NY/NJ)</label>
                        <input class="genre-input" name="introspective" id="introspective" value="introspective" type="checkbox" />
                        <label for="introspective" class="genre-input-label" id="introspective-label">Introspective / Lyrical</label>
                        <input class="genre-input" name="jersey-club" id="jersey-club" value="jersey-club" type="checkbox" />
                        <label for="jersey-club" class="genre-input-label" id="jersey-club-label">Jersey Club</label>
                        <input class="genre-input" name="pluggnb" id="pluggnb" value="pluggnb" type="checkbox" />
                        <label for="pluggnb" class="genre-input-label" id="pluggnb-label">Pluggnb / Underground</label>
                        <input class="genre-input" name="opium" id="opium" value="opium" type="checkbox" />
                        <label for="opium" class="genre-input-label" id="opium-label">Opium</label>
                        <input class="genre-input" name="2000s-hip-hop" id="2000s-hip-hop" value="2000s-hip-hop" type="checkbox" />
                        <label for="2000s-hip-hop" class="genre-input-label" id="pluggnb-label">2000s Hip Hop</label>
                    </div>
                    <a class="close-anchor" id="rap-hiphop-closeid" href="javascript:void(0)" onclick="closeSelect('rap-select','rap-hiphop-closeid','rap-select-div','rap-arrow')">Exit</a>
                </div>
                <div id="rnb-select-div" class="genre-select-div">
                    <a class="open-anchor" href="javascript:void(0)" onclick="openSelect('rnb-select','rnb-closeid','rnb-select-div','rnb-arrow')" >
                        Rhythn & Blues
                        <div id="rnb-arrow" class="arrow"></div>
                    </a>
                    <div class="genre-select" id="rnb-select" name="rnb-select">
                        <input class="genre-input" name="contemporary-rnb" id="contemporary-rnb" value="contemporary-rnb" type="checkbox" />
                        <label for="contemporary-rnb" class="genre-input-label" id="contemporary-rnb-input">Contemporary (2010 - now)</label>
                        <input class="genre-input" name="2000s-rnb" id="2000s-rnb" value="2000s-rnb" type="checkbox" />
                        <label for="2000s-rnb" class="genre-input-label" id="2000s-rnb-input">2000s Throwbacks</label>
                        <input class="genre-input" name="20th-century-rnb" id="20th-century-rnb" value="20th-century-rnb" type="checkbox" />
                        <label for="20th-century-rnb" class="genre-input-label" id="20th-century-rnb-input">20th Century Classics</label>
                        <input class="genre-input" name="jazz" id="jazz" value="jazz" type="checkbox" />
                        <label for="jazz" class="genre-input-label" id="jazz-rnb-input">Jazz</label>
                        <input class="genre-input" name="soul" id="soul" value="soul" type="checkbox" />
                        <label for="soul" class="genre-input-label" id="jazz-rnb-input">Soul</label>
                    </div>
                    <a class="close-anchor" id="rnb-closeid" href="javascript:void(0)" onclick="closeSelect('rnb-select','rnb-closeid','rnb-select-div','rnb-arrow')">Exit</a>
                </div>
                <div id="pop-select-div" class="genre-select-div">
                    <a class="open-anchor" href="javascript:void(0)" onclick="openSelect('pop-select','pop-closeid','pop-select-div','pop-arrow')" >
                        Pop
                        <div id="pop-arrow" class="arrow"></div>
                    </a>
                    <div class="genre-select" id="pop-select" name="pop-select">
                        <input class="genre-input" name="classic-pop" id="classic-pop" value="classic-pop" type="checkbox" />
                        <label for="classic-pop" class="genre-input-label" id="classic-pop-input">Classic Pop</label>
                        <input class="genre-input" name="contemporary-pop" id="contemporary-pop" value="contemporary-pop" type="checkbox" />
                        <label for="contemporary-pop" class="genre-input-label" id="contemporary-pop">Contemporary Pop</label>
                        <input class="genre-input" name="kpop" id="kpop" value="kpop" type="checkbox" />
                        <label for="kpop" class="genre-input-label" id="kpop-label">K-Pop</label>
                        <input class="genre-input" name="afrobeat" id="afrobeat" value="afrobeat" type="checkbox" />
                        <label for="afrobeat" class="genre-input-label" id="afrobeat-label">Afrobeat</label>
                        <input class="genre-input" name="lofi" id="lofi" value="lofi" type="checkbox" />
                        <label for="lofi" class="genre-input-label" id="lofi">LoFi</label>
                    </div>
                    <a class="close-anchor" id="pop-closeid" href="javascript:void(0)" onclick="closeSelect('pop-select','pop-closeid','pop-select-div','pop-arrow')">Exit</a>
                </div>
                <div id="rock-select-div" class="genre-select-div">
                    <a class="open-anchor" href="javascript:void(0)" onclick="openSelect('rock-select','rock-closeid','rock-select-div','rock-arrow')" >
                        Rock
                        <div id="rock-arrow" class="arrow"></div>
                    </a>
                    <div class="genre-select" id="rock-select" name="rock-select">
                        <input class="genre-input" name="grunge-rock" id="grunge-rock" value="grunge-rock" type="checkbox" />
                        <label for="grunge-rock" class="genre-input-label" id="grunge-rock-label">Grunge Rock</label>
                        <input class="genre-input" name="classic-rock" id="classic-rock" value="classic-rock" type="checkbox" />
                        <label for="classic-rock" class="genre-input-label" id="classic-rock-label">Classical Rock</label>
                        <input class="genre-input" name="trap-guitar" id="trap-guitar" value="trap-guitar" type="checkbox" />
                        <label for="trap-guitar" class="genre-input-label" id="trap-guitar-label">Trap Guitar</label>
                        <input class="genre-input" name="metal-rock" id="metal-rock" value="metal-rock" type="checkbox" />
                        <label for="metal-rock" class="genre-input-label" id="metal-rock-label">Metal</label>
                        <input class="genre-input" name="psychedelic-rock" id="psychedelic-rock" value="psychedelic-rock" type="checkbox" />
                        <label for="psychedelic-rock" class="genre-input-label" id="metal-rock-label">Psychedelic</label>
                    </div>
                    <a class="close-anchor" id="rock-closeid" href="javascript:void(0)" onclick="closeSelect('rock-select','rock-closeid','rock-select-div','rock-arrow')">Exit</a>
                </div>
            </form>
            <button class="submit_button" form="genres-form" type="submit" value="Submit">Next</button>
        </div>
        <script>
            function openSelect(id,closeid,divid,arrow) {
                document.getElementById(id).style.display = "block";
                document.getElementById(closeid).style.display = "block";
                document.getElementById(arrow).style.transform = "rotate(-135deg)";

            }
            function closeSelect(id,closeid,divid,arrow) {
                document.getElementById(id).style.display = "none";
                document.getElementById(closeid).style.display = "none";
                document.getElementById(arrow).style.transform = "rotate(45deg)";
            }
        </script>
    </body>
</html>