<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="header">
            <header>Playlist Creator</header>
        </div>
        <div class="form_body">
            <form action="/genres" method="post" id="num-of-songs-form" name="num-of-songs-form" >
                <div class="div-input">
                    <label>Playlist Name:   </label>
                    <input type="text" name="name-of-playlist" autocomplete="off" required/>
                </div>
                <div class="div-input">
                    <label>Songs in Playlist:   </label>
                    <input type="range" name="num-of-songs" min="0" max="50" oninput="num.value = this.value" required />
                    <output id="num">25</output>
                </div>
            </form>
            <button class="submit_button" type="submit" value="Submit" form="num-of-songs-form" >Next</button>
        </div>  
    </body>
</html>